openapi: 3.0.3
info:
  title: Muenot Shopkeeper Mobile API
  version: 1.0.0-phase1
  description: Phase 1 backend contract. Android communicates only through HTTPS; tenant identity is derived from the bearer token.
servers:
  - url: https://erp.muenot.co.in/api/mobile/v1
security:
  - bearerAuth: []
paths:
  /auth/register:
    post:
      security: []
      summary: Submit a Shopkeeper application (does not create an active tenant)
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ShopkeeperRegistration' } } } }
      responses:
        '201': { description: Pending application and one-time registrationToken; store securely, content: { application/json: { schema: { $ref: '#/components/schemas/RegistrationReceipt' } } } }
        '400': { description: Invalid input or missing consent }
        '409': { description: Email or mobile already registered }
        '429': { $ref: '#/components/responses/RateLimited' }
  /auth/registration-status:
    get:
      security: []
      summary: Poll approval status using the registration receipt, not a mobile access token
      parameters: [{ name: Authorization, in: header, required: true, schema: { type: string }, description: 'Registration <registrationToken>' }]
      responses:
        '200': { description: PENDING_APPROVAL, APPROVED, REJECTED or SUSPENDED, content: { application/json: { schema: { $ref: '#/components/schemas/RegistrationStatus' } } } }
        '401': { description: Invalid registration token }
        '429': { $ref: '#/components/responses/RateLimited' }
  /auth/login:
    post:
      security: []
      summary: Start a native mobile session
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses: { '200': { description: Tokens and public user/tenant details }, '401': { $ref: '#/components/responses/Unauthorized' }, '429': { $ref: '#/components/responses/RateLimited' } }
  /auth/refresh:
    post:
      security: []
      summary: Rotate an opaque refresh token
      responses: { '200': { description: New access and refresh tokens }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /auth/logout:
    post: { summary: Revoke the current mobile device session, responses: { '200': { description: Revoked } } }
  /auth/sessions:
    get: { summary: List current user's active devices, responses: { '200': { description: Device sessions } } }
    delete: { summary: Revoke one of the current user's devices, responses: { '200': { description: Revoked } } }
  /me:
    get: { summary: Current user, tenant and resolved entitlement map, responses: { '200': { description: Session identity } } }
  /tenant:
    get: { summary: Current tenant and Shopkeeper profile, responses: { '200': { description: Tenant profile, content: { application/json: { schema: { type: object, properties: { tenant: { type: object }, profile: { $ref: '#/components/schemas/ShopkeeperProfile' } } } } } } } }
    patch: { summary: Update current tenant Shopkeeper profile (tenant owner/admin only), requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ShopkeeperProfile' } } } }, responses: { '200': { description: Updated profile }, '403': { $ref: '#/components/responses/Forbidden' } } }
  /settings:
    get: { summary: Alias of /tenant — Shop Profile, Business Hours, Notification Preferences and Account, responses: { '200': { description: Tenant profile } } }
    patch: { summary: Alias of /tenant, responses: { '200': { description: Updated profile }, '403': { $ref: '#/components/responses/Forbidden' } } }
  /dashboard:
    get: { summary: Existing tenant-scoped personal dashboard, responses: { '200': { description: Dashboard } } }
  /whatsapp:
    get: { summary: WhatsApp connection health and caller capabilities, responses: { '200': { description: Sanitized connection status } } }
  /whatsapp/status:
    get: { summary: Safe tenant-scoped connection state and display phone (no Meta credentials), responses: { '200': { description: CONNECTED, CONNECTING, ACTION_REQUIRED or NOT_CONNECTED, content: { application/json: { schema: { $ref: '#/components/schemas/WhatsAppConnectionStatus' } } } }, '401': { $ref: '#/components/responses/Unauthorized' }, '403': { $ref: '#/components/responses/Forbidden' } } }
  /whatsapp/onboarding-session:
    post:
      summary: Approved Shopkeeper owner/admin creates a ten-minute tenant-bound Meta signup link
      description: Open the returned HTTPS url in a browser or Custom Tab. Its opaque launch token is in the URL fragment and must not be logged. Browser returns to muenot://whatsapp/connected or muenot://whatsapp/error; then call /whatsapp/status. Never pass tenantId.
      responses: { '201': { description: url and expiresAt, content: { application/json: { schema: { $ref: '#/components/schemas/WhatsAppOnboardingSession' } } } }, '401': { $ref: '#/components/responses/Unauthorized' }, '403': { $ref: '#/components/responses/Forbidden' } }
  /whatsapp/onboarding-config:
    get: { security: [], summary: Public Meta SDK readiness for the Muenot-hosted browser page, responses: { '200': { description: Public App ID, config ID and Graph version; no secret } } }
  /whatsapp/onboarding-launch:
    post: { security: [], summary: Hosted browser page consumes opaque launchToken once and starts existing Embedded Signup, responses: { '200': { description: Meta SDK signup state and config }, '409': { description: Already used }, '410': { description: Expired } } }
  /whatsapp/onboarding-callback:
    post: { security: [], summary: Hosted browser page returns Meta code and WABA/phone IDs with tenant-bound state and launchToken; server exchanges code, responses: { '200': { description: Connected / messaging readiness }, '409': { description: Invalid or replayed state }, '422': { description: Meta onboarding failed } } }
  /conversations:
    get: { summary: Tenant-scoped WhatsApp inbox, parameters: [{ name: limit, in: query, schema: { type: integer, maximum: 200 } }], responses: { '200': { description: Conversation page } } }
  /conversations/{id}:
    get: { summary: Conversation plus message history, parameters: [{ name: id, in: path, required: true, schema: { type: integer } }], responses: { '200': { description: Detail }, '404': { description: Not found or not permitted } } }
  /messages:
    post: { summary: Send a text or approved template through the tenant's existing WhatsApp connection, responses: { '200': { description: Send accepted }, '403': { $ref: '#/components/responses/Forbidden' } } }
  /contacts: { get: { summary: Tenant WhatsApp contacts, responses: { '200': { description: Contact page } } } }
  /templates: { get: { summary: Local tenant template catalog, responses: { '200': { description: Templates } } } }
  /campaigns: { get: { summary: Tenant WhatsApp campaigns, responses: { '200': { description: Campaigns } } } }
  /automations: { get: { summary: Tenant WhatsApp automations, responses: { '200': { description: Automations } } } }
  /team: { get: { summary: Active users in the authenticated tenant, responses: { '200': { description: Team } } } }
  /notifications: { get: { summary: Current user's notifications, responses: { '200': { description: Notifications } } }, patch: { summary: Mark own notifications read, responses: { '200': { description: Updated } } } }
  /subscription: { get: { summary: Current tenant subscription and entitlements, responses: { '200': { description: Subscription } } } }
  /contacts/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer, minimum: 1 } }]
    get:
      summary: One customer in the authenticated tenant
      responses:
        '200': { description: Customer, content: { application/json: { schema: { type: object, properties: { contact: { $ref: '#/components/schemas/Contact' } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update a customer
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ContactInput' } } } }
      responses:
        '200': { description: Updated customer, content: { application/json: { schema: { type: object, properties: { contact: { $ref: '#/components/schemas/Contact' } } } } } }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
    delete:
      summary: Archive a customer
      description: >
        Archives rather than deletes. Orders and WhatsApp conversations reference
        the customer, so removing the row would blank them off historical records.
      responses:
        '200': { description: Archived, content: { application/json: { schema: { type: object, properties: { archived: { type: boolean }, id: { type: integer } } } } } }
        '404': { $ref: '#/components/responses/NotFound' }

  /products:
    get:
      summary: Tenant-owned product catalogue
      parameters:
        - { name: search, in: query, schema: { type: string, maxLength: 100 }, description: Matches name, SKU or category }
        - { name: category, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { type: string, enum: [active, inactive] } }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 200 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        '200':
          description: Product page
          content: { application/json: { schema: { type: object, properties: { products: { type: array, items: { $ref: '#/components/schemas/Product' } }, pagination: { $ref: '#/components/schemas/Pagination' } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      summary: Create a product
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ProductInput' } } } }
      responses:
        '201': { description: Created, content: { application/json: { schema: { type: object, properties: { product: { $ref: '#/components/schemas/Product' } } } } } }
        '409': { description: SKU already used within this tenant, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /products/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer, minimum: 1 } }]
    get:
      summary: One product
      responses:
        '200': { description: Product, content: { application/json: { schema: { type: object, properties: { product: { $ref: '#/components/schemas/Product' } } } } } }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update a product
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ProductInput' } } } }
      responses:
        '200': { description: Updated product, content: { application/json: { schema: { type: object, properties: { product: { $ref: '#/components/schemas/Product' } } } } } }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
    delete:
      summary: Delete a product
      description: Order items keep their own copy of name and price, so past orders are unaffected.
      responses:
        '200': { description: Deleted, content: { application/json: { schema: { type: object, properties: { deleted: { type: boolean }, id: { type: integer } } } } } }
        '404': { $ref: '#/components/responses/NotFound' }

  /orders:
    get:
      summary: Tenant-owned shop orders
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [new, processing, completed, cancelled] } }
        - { name: paymentStatus, in: query, schema: { type: string, enum: [pending, paid, cod] } }
        - { name: contactId, in: query, schema: { type: integer } }
        - { name: search, in: query, schema: { type: string, maxLength: 100 }, description: Matches order number, customer name or phone }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 200 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        '200':
          description: Order page
          content: { application/json: { schema: { type: object, properties: { orders: { type: array, items: { $ref: '#/components/schemas/Order' } }, pagination: { $ref: '#/components/schemas/Pagination' } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create an order
      description: >
        Supply conversationId to raise an order straight from a WhatsApp chat;
        the customer is resolved server-side from that conversation. The
        conversation, contact and every product id are matched within the
        authenticated tenant only.
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/OrderInput' } } } }
      responses:
        '201': { description: Created, content: { application/json: { schema: { type: object, properties: { order: { $ref: '#/components/schemas/Order' } } } } } }
        '404': { description: Referenced conversation or customer is not in this tenant, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /orders/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer, minimum: 1 } }]
    get:
      summary: One order with its items
      responses:
        '200': { description: Order, content: { application/json: { schema: { type: object, properties: { order: { $ref: '#/components/schemas/Order' } } } } } }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update order status, payment, delivery, notes or discount
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/OrderPatch' } } } }
      responses:
        '200': { description: Updated order, content: { application/json: { schema: { type: object, properties: { order: { $ref: '#/components/schemas/Order' } } } } } }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /devices:
    post:
      summary: Register an installation and encrypted FCM token (tenant is derived from bearer session)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeviceRegistration' }
      responses: { '200': { description: Registered or safely updated }, '400': { description: Invalid device registration fields }, '401': { $ref: '#/components/responses/Unauthorized' }, '409': { description: Token is active for a different installation } }
    patch:
      summary: Refresh the FCM token for the authenticated installation
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeviceRegistration' }
      responses: { '200': { description: Updated }, '409': { description: Token is active for a different installation } }
    delete:
      summary: Revoke only a device registered to the current mobile session
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, properties: { deviceId: { type: string, maxLength: 160 }, pushToken: { type: string, maxLength: 4096 } }, anyOf: [{ required: [deviceId] }, { required: [pushToken] }] }
      responses: { '200': { description: Disabled }, '401': { $ref: '#/components/responses/Unauthorized' } }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  schemas:
    RegistrationReceipt:
      type: object
      required: [applicationId, status, registrationToken]
      properties:
        applicationId: { type: integer }
        status: { type: string, enum: [PENDING_APPROVAL] }
        registrationToken: { type: string, description: Opaque receipt returned once; store in Android secure storage }
    RegistrationStatus:
      type: object
      required: [status, businessName, ownerName, submittedAt]
      properties:
        status: { type: string, enum: [PENDING_APPROVAL, APPROVED, REJECTED, SUSPENDED] }
        businessName: { type: string }
        ownerName: { type: string }
        submittedAt: { type: string, format: date-time }
        rejectionReason: { type: string, nullable: true }
    WhatsAppOnboardingSession:
      type: object
      required: [url, expiresAt]
      properties:
        url: { type: string, format: uri, description: Open in an external browser or Android Custom Tab; opaque token is in fragment }
        expiresAt: { type: string, format: date-time }
    WhatsAppConnectionStatus:
      type: object
      required: [connected, status]
      properties:
        connected: { type: boolean, description: True only when Cloud API registration and webhook subscription are ready }
        status: { type: string, enum: [NOT_CONNECTED, CONNECTING, CONNECTED, ACTION_REQUIRED] }
        displayName: { type: string, nullable: true }
        phoneNumber: { type: string, nullable: true }
        connectedAt: { type: string, format: date-time, nullable: true }
    ShopkeeperRegistration:
      type: object
      required: [businessName, businessCategory, ownerName, email, mobile, country, city, password, termsAccepted, privacyAccepted]
      properties:
        businessName: { type: string, minLength: 2, maxLength: 150 }
        businessCategory: { type: string, minLength: 1, maxLength: 120 }
        ownerName: { type: string, minLength: 2, maxLength: 150 }
        email: { type: string, format: email }
        mobile: { type: string, description: International phone digits; punctuation is normalized }
        country: { type: string, minLength: 2, maxLength: 2, example: IN }
        state: { type: string, maxLength: 120 }
        city: { type: string, minLength: 2, maxLength: 120 }
        postalCode: { type: string, maxLength: 20 }
        password: { type: string, format: password, minLength: 8 }
        termsAccepted: { type: boolean, enum: [true] }
        privacyAccepted: { type: boolean, enum: [true] }
    DeviceRegistration:
      type: object
      required: [deviceId, pushToken, platform]
      properties:
        deviceId: { type: string, minLength: 1, maxLength: 160, description: Stable installation ID generated and persisted by the app }
        pushToken: { type: string, minLength: 20, maxLength: 4096, description: FCM registration token; send only over HTTPS }
        pushProvider: { type: string, enum: [fcm], default: fcm }
        platform: { type: string, enum: [android, ios] }
        appVersion: { type: string, maxLength: 40 }
        deviceName: { type: string, maxLength: 120 }
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }
        deviceName: { type: string, maxLength: 120 }
        platform: { type: string, example: android }
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
        code: { type: string }
        fields:
          type: object
          additionalProperties: { type: string }
          description: Present on 422; maps a field name to its message.

    Pagination:
      type: object
      properties:
        limit: { type: integer }
        offset: { type: integer }
        total: { type: integer }

    Product:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        sku: { type: string, nullable: true }
        category: { type: string, nullable: true }
        description: { type: string, nullable: true }
        price: { type: number, format: double }
        offerPrice: { type: number, format: double, nullable: true }
        currency: { type: string, example: INR }
        imageUrl: { type: string, nullable: true }
        stockStatus: { type: string, enum: [in_stock, out_of_stock, low_stock] }
        stockQuantity: { type: integer, nullable: true }
        status: { type: string, enum: [active, inactive] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    ProductInput:
      type: object
      required: [name]
      properties:
        name: { type: string, maxLength: 190 }
        sku: { type: string, maxLength: 64, description: Unique within the tenant }
        category: { type: string, maxLength: 120 }
        description: { type: string, maxLength: 5000 }
        price: { type: number, minimum: 0 }
        offerPrice: { type: number, minimum: 0, description: Must not exceed price }
        currency: { type: string, maxLength: 8 }
        imageUrl: { type: string, maxLength: 500 }
        stockStatus: { type: string, enum: [in_stock, out_of_stock, low_stock] }
        stockQuantity: { type: integer, minimum: 0 }
        status: { type: string, enum: [active, inactive] }

    OrderItem:
      type: object
      properties:
        id: { type: integer }
        productId: { type: integer, nullable: true, description: Null once the product is deleted }
        productName: { type: string, description: Copied at order time }
        sku: { type: string, nullable: true }
        quantity: { type: integer, minimum: 1 }
        unitPrice: { type: number, format: double }
        lineTotal: { type: number, format: double }

    Order:
      type: object
      properties:
        id: { type: integer }
        orderNumber: { type: string, example: ORD-00001 }
        contactId: { type: integer, nullable: true }
        conversationId: { type: integer, nullable: true }
        customerName: { type: string, nullable: true }
        customerPhone: { type: string, nullable: true }
        subtotal: { type: number, format: double }
        discount: { type: number, format: double }
        total: { type: number, format: double }
        currency: { type: string, example: INR }
        status: { type: string, enum: [new, processing, completed, cancelled] }
        paymentStatus: { type: string, enum: [pending, paid, cod] }
        deliveryMethod: { type: string, enum: [shop_pickup, home_delivery] }
        deliveryAddress: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        createdBy: { type: integer, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        items: { type: array, items: { $ref: '#/components/schemas/OrderItem' } }

    OrderInput:
      type: object
      required: [items]
      properties:
        conversationId: { type: integer, description: WhatsApp conversation owned by this tenant; resolves the customer server-side }
        contactId: { type: integer }
        customerName: { type: string, maxLength: 190 }
        customerPhone: { type: string, maxLength: 40 }
        discount: { type: number, minimum: 0, description: Must not exceed the subtotal }
        currency: { type: string, maxLength: 8 }
        status: { type: string, enum: [new, processing, completed, cancelled], default: new }
        paymentStatus: { type: string, enum: [pending, paid, cod], default: pending }
        deliveryMethod: { type: string, enum: [shop_pickup, home_delivery], default: shop_pickup }
        deliveryAddress: { type: string, maxLength: 500 }
        notes: { type: string, maxLength: 2000 }
        items:
          type: array
          minItems: 1
          maxItems: 200
          items:
            type: object
            properties:
              productId: { type: integer, description: Must belong to this tenant }
              productName: { type: string, description: Required only for a free-text line }
              sku: { type: string }
              quantity: { type: integer, minimum: 1, default: 1 }
              unitPrice: { type: number, minimum: 0, description: Overrides the catalogue price; required for a free-text line }

    OrderPatch:
      type: object
      properties:
        status: { type: string, enum: [new, processing, completed, cancelled] }
        paymentStatus: { type: string, enum: [pending, paid, cod] }
        deliveryMethod: { type: string, enum: [shop_pickup, home_delivery] }
        deliveryAddress: { type: string, maxLength: 500 }
        notes: { type: string, maxLength: 2000 }
        customerName: { type: string, maxLength: 190 }
        customerPhone: { type: string, maxLength: 40 }
        discount: { type: number, minimum: 0, description: Recomputes the total }

    Contact:
      type: object
      properties:
        id: { type: integer }
        phone: { type: string }
        name: { type: string, nullable: true }
        email: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        tags: { type: array, items: { type: string } }
        city: { type: string, nullable: true }
        state: { type: string, nullable: true }
        country: { type: string, nullable: true }
        leadId: { type: integer, nullable: true }
        archivedAt: { type: string, format: date-time, nullable: true }
        lastInteractionAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time, nullable: true }

    ContactInput:
      type: object
      properties:
        phone: { type: string, maxLength: 40, description: Required on create; unique within the tenant }
        name: { type: string, maxLength: 190 }
        email: { type: string, format: email, maxLength: 190 }
        notes: { type: string, maxLength: 2000 }
        tags: { type: array, items: { type: string }, maxItems: 25 }
        city: { type: string, maxLength: 120 }
        state: { type: string, maxLength: 120 }
        country: { type: string, maxLength: 120 }

    ShopkeeperProfile:
      type: object
      properties:
        tenantId: { type: integer }
        shopName: { type: string }
        ownerName: { type: string, nullable: true }
        businessCategory: { type: string, nullable: true }
        email: { type: string, nullable: true }
        phone: { type: string, nullable: true }
        address: { type: string, nullable: true }
        city: { type: string, nullable: true }
        state: { type: string, nullable: true }
        pinCode: { type: string, nullable: true }
        country: { type: string, nullable: true }
        logoUrl: { type: string, nullable: true }
        businessHours: { type: object, nullable: true, description: Free-form per-day opening hours }
        notificationPreferences:
          type: object
          nullable: true
          description: Free-form notification toggles, e.g. { newOrder, newMessage, dailySummary }
        timezone: { type: string, nullable: true }
        currency: { type: string, nullable: true }
        gstin: { type: string, nullable: true }
        website: { type: string, nullable: true }

    ShopkeeperDashboard:
      type: object
      description: Returned when the authenticated tenant's tenant_type is SHOPKEEPER.
      properties:
        type: { type: string, enum: [shopkeeper] }
        todayMessages: { type: integer }
        unreadConversations: { type: integer }
        todayOrders: { type: integer }
        pendingOrders: { type: integer }
        todaySales: { type: number, format: double, description: Excludes cancelled orders }
        customerCount: { type: integer }
        recentConversations: { type: array, items: { type: object } }
        recentOrders: { type: array, items: { type: object } }
        whatsapp:
          type: object
          properties:
            connected: { type: boolean }
            phoneNumber: { type: string, nullable: true }
            status: { type: string, nullable: true }
  responses:
    Unauthorized: { description: Missing, expired, revoked or invalid token, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    Forbidden: { description: Permission or plan entitlement denied, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    NotFound: { description: Not found, or not owned by the authenticated tenant, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    ValidationFailed: { description: Field validation failed, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    RateLimited: { description: Too many requests; inspect Retry-After }
